<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-4">
    <div class="well">
    <div class="jumbotron">
      <h1>BYE</h1>
      <p>BYE</p>
    </div>
  </div>
  </div>

</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>